[package]
name = "amadeus-runtime"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description = "Consensus library for Amadeus blockchain including WASM execution, BIC contracts, and state management"

[lib]
doctest = false

[dependencies]
atoi = "2"
amadeus-utils = { path = "../amadeus-utils" }
